MAIN_VITE_API_URL=https://ktm-cloud.lovable.app/api/public
MAIN_VITE_AUTH_URL=https://ktm-cloud.lovable.app/auth
MAIN_VITE_LAUNCHER_SUBDOMAIN=ktm-cloud
RENDERER_VITE_REAL_DEBRID_REFERRAL_ID=
RENDERER_VITE_TORBOX_REFERRAL_CODE=
